/* .footer {
    background-color: #1c1c1a;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
  } */

  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }