*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* background-color: #343a40; */
  background-color: #e6e4bd;
  /* height: 100vh - 50px; */
  margin-bottom: 60px;
}

body > .container {
  padding: 60px 15px 0;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.left-navi {
  display: flex;
  justify-content: flex-start;
}

.middle-navi {
  display: flex;
  justify-content: center;
}

nav.bg-light {
  /* background-color: #343a40; */
  background-color: #1c1c1a;
}

.navbar-brand {
  font-weight: bold;
}

a.nav-link, a.footer-link{
  font-weight: bold;
  padding-right: 20%;
}

.jumbotron {
  display: block;
  width: 60%;
  /* background-color: green; */
  background-color: #e6e4bd;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

h1.display4 {
  font-weight: 400;
}

/* .wrapper {
    width: 90%;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.2);
    margin: 0 auto;
    margin-top: 1.5em;
} */

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.site-header {
  background-color: #eaeaea;
  text-align: center;
  padding: 1.5em 0;
}

main {
  padding: 1.5em 1em;
}

.field-error {
  color: #900;
  font-size: 0.875em;
}

.alert-success {
  width: fit-content;
  color: white;
  background-color: #080;
  padding: 0.5em 1em;
  border-radius: 6px;
  margin: 1em 0;
}

.alert-error {
  width: fit-content;
  color: white;
  background-color: #800;
  padding: 0.5em 1em;
  border-radius: 6px;
  margin: 1em 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
