
/* .modal-dialog {
  display: flex;
  background-color: blueviolet;
  padding: 5px;
}

#getCode.modal-body {
  display: flex;
  background-color: coral;
} */
body {
  background-color: #2b3634;
}

.results {
  display: flex;
  flex-direction: row;
}
/* .card {

} */

.ModalContainer {
  display: flex;
  flex-direction: row;
}

#img-kpi-container {
  display: flex;
  width: 100%;
}

#artist-img {
  /* background-color: orange; */
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 50%;
}

#artist--img {
  width: auto;
  max-height: 300px;
  border-radius: 50%;
}


#kpi-container {
  /* background-color: lime; */
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}

#popularity-nr > p {
  display: flex;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  justify-content: flex-end;
  /* background-color: rosybrown; */
  padding: 2px;
}

#popularity-label > p {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  /* background-color: darkgreen; */
  padding: 2px;
}

#followers-nr > p {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  justify-content: flex-end;
  /* background-color: lemonchiffon; */
  padding: 2px;
}

#followers-label > p {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  /* background-color: chocolate; */
  padding: 5px;
}

#artist-name > p {
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
  font-size: xx-large;

  /* background-color: lightblue; */
  padding: 5px;
}

.genreContainer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dee2e6;
}

.genre-names {
  /* background-color: lightpink; */
  padding: 5px;
  display: flex;
  align-items: center;
}

.genre-names > p {
  margin: 0;
  width: 80%;
}

.genre-names > img {
  cursor: pointer;
  margin-right: 10px;
}

.song {
display: flex;
justify-content: center;
border-top: 1px solid #dee2e6;
padding: 0.5em;
margin: 0;
  /* background-color: honeydew; */
}

#audio-track {
  padding: 0.5em;
  margin: 0;
}

/* .getGenreNames {

  background-color: olive;
} */




