body {
  background-image: url(https://c1.staticflickr.com/5/4486/38054858802_c701f3be4d_k.jpg);
}

.login-container, .register-container {
  margin: 100 auto;
  width: 20em;
}
.divider {
  border-top: 1px solid #e9ecef;
  box-sizing: border-box;
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
}
