/****** Globals ******/

/* naming convention: .class-class */

/****** Links ******/
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-primary {
  background-color: #2e3135;
  border-color: #2e3135;
}

.btn-primary:hover {
  background-color: #fef7ea;
  border-color: #fef7ea;
  color: #2e3135;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/****** Bast structure ******/

html,
body {
  background-color: #333;
  /* background-color: white; */
  min-height: 100vh;
  position: relative;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  max-width: 90em;
}

/****** Header ******/

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/************ @content ************/

/****** @home.html ******/

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/****** @login + register.html ******/

.field-error {
  color: #ec3305;
}

/****** @browse.html ******/

.genre-buttons-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* case of img buttons */
.global-genres-btn {
  display: block;
  width: 135px;
  height: 135px;
  max-width: 100%;
  padding: 0.5em;
  background-color: #7b835c;
  margin: 1em;
  color: #fef7ea;
  font-weight: 700;
  opacity: 50%;
  border-radius: 10px;
  padding: 0.75rem 1.25rem;
  font-weight: 700;
  text-shadow: none; /* Prevent inheritance from `body` */
  border: 0.05rem solid #fff;
}

.global-genres-btn:hover {
  color: #ec3305;
  text-decoration: none;
  opacity: 100%;
  border-color: #f3e70f;
}

/****** @browse-show.html ******/

.results {
  padding: 3em;
}

.artist {
  transition: top ease 0.5s;
  vertical-align: middle;
  border-style: none;
  border-radius: 15px;
  padding: 0.225em;
  transition: transform 0.2s;
  cursor: pointer;
}

.artist:focus,
.artist:hover {
  border: 1px solid;
  border-color: #f3e70f;
  padding: 0;
  transform: scale(1.1);
}

/****** @browse-show.html | modal ******/

.modal-body {
  max-width: 498px;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #7b835c;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-shadow: 0 1px 0 #000;
  opacity: 0.5;
}

.imgKpiContainer {
  display: flex;
  max-width: 469px;
}

.artistImg {
  width: 210px;
  display: flex;
  justify-content: flex-end;
  align-content: baseline;
}

.artist--img {
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-top: 0.9em;
}

.kpiContainer {
  width: 200px;
}

p.popularity-nr {
  /* (p) */
  font-size: 3em;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0;
  align-content: flex-end;
  font-weight: bold;
}

p.popularity-label {
  color: #2e3135;
  display: flex;
  justify-content: flex-end;
  font-weight: lighter;
}

p.followers-nr {
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p.followers-label {
  color: #2e3135;
  display: flex;
  justify-content: flex-end;
  font-weight: lighter;
}

.artistName {
  box-sizing: border-box;
  font-size: 3em;
  font-weight: bolder;
  margin-bottom: 0.125em;
  margin-top: 0.2em;
  border-bottom: 1px solid #dee2e6;
}

.genreContainer {
  display: flex;
  justify-content: center;
}

.genre-names {
  display: inline-flex;
  font-weight: 300;
  font-size: x-large;
  justify-self: self-start;
  flex-wrap: nowrap;
}

.imgPlus {
  cursor: pointer;
}

#genre-names.genreContainer {
  flex-direction: column;
  margin-left: 3em;
}

#genre-names.genreNames {
  display: flex;
  flex-direction: column;
}

/****** User Dashboard ******/

table.table.table-hover.table-dark {
  border-radius: 15px;
}

body > div > div > div > h1 {
  color: #1ed761;
  padding: 0.75em;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

#headerCounter,
#headerName,
#headerPopularity,
#headerFollowers,
#headerPreview,
#headerGoto {
 color: #f3e70f; 
}
#headerDelete {
 color: #ec3305; 
}

.fa-trash-o {
  color: #ec3305; 
}




.dashboardArtistName p {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  padding: 0;
}

.dashboardPopularityNr {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.dashboardFollowersNr {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.table td,
.table th {
  padding: 0.3rem;
  vertical-align: middle;
  /* border-top: 1px solid #dee2e6; */
}

.table-bordered td,
.table-bordered th {
  /* border: 1px solid #dee2e6; */
}

.fa-spotify {
  color: #1ed761;
}

.dashboardImg {
  transition: top ease 0.5s;
  vertical-align: middle;
  border-style: none;
  border-radius: 15px;
  /* padding: 0.225em; */
}

/****** Footer ******/
.mastfoot {
  padding: 0.75em;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.5);
}

.footer-space {
  display: inline;
}

/****** mobile ******/
@media screen and (max-width: 640px) {
  .inner {
    display: flex;
    flex-direction: column;
  }

  .footer-space {
    display: none;
  }
  .mastfoot {
    position: relative;
  }

  .browsing-header {
    margin-top: 1.5em;
  }

  .results {
    padding: 0;
  }

  .container-fluid {
    display: flex;
    justify-content: center;
  }

  .dashboardArtistName p {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .fa-spotify {
    color: #1ed761;
  }

  .dashboardImg {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 15px;
    /* padding: 0.225em; */
  }
}

@media only screen and (max-width: 640px) {
  .inner {
    display: flex;
    flex-direction: column;
  }
  #headerPreview,
  #headerPopularity,
  #headerFollowers,
  #cellPopularity,
  #cellAudio,
  #cellFollowers,
  .table td #audio-track,
  .table td #followers-nr,
  .table td #popularity-nr {
    display: none;
  }
}

@media screen and (min-width: 641px) and (max-width: 888px) {
  .browsing-header {
    margin-top: 1.5em;
  }
}
