<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/modal.css" media="screen" />


<repeat group="{{ @results->artists->items?:[] }}" value="{{ @artist }}">
  <img 
    class="artist"
    src="{{@artist->images['1']->url}}"
    alt="{{@artist->name}}"
    data-id="{{@artist->id}}"
    data-token1="{{@token}}"
    data-token="BQA8wsCyYQuY7treAY2UPMH3U32_-EK63L0mSXN7L7ZQZSa6LUIoA9l1E-4VswJL4F81uisVTZg3YbnTOVI"
    height="500"
    width="500"
  />
</repeat>
<p>test</p>

<repeat group="{{ @jScripts }}" value="{{ @script }}">

  <script src="{{ @script }}"></script>


  <div class="modal" tabindex="-1" role="dialog" id="myModal" data-toggle="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <p id="getCodeHeader"></p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
            <div class="modal-body" id="getCode">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                <p id="getCodeText"></p>

                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>